.card-item{
    background-color:#DAC8B3;
    margin-top: 10px;
    width: 22%;
    text-align: center;
    height: 37vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    box-shadow: 1px 1px 20px #607d3b;
    border-radius: 35px;
    transition: .5s;
}
.card-item img{
    width:65%;
    margin: 5px;
    border-radius: 35px;
}