.header-page{
    width: 90%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    position: absolute;
    top: 10px;
    color: #dac8bc;
    
}
h2{
    margin-right: auto;
    font-size: 50px;
}
.header-menu ul{
    display: flex;
    gap: 40px;
}
.header-menu a{color: #dac8bc;}
a:hover{
    color: #607d3b !important;
}